/* src/index.css */
body {
    background-color: #e0f7fa; /* Verde claro */
    color: black; /* Color de texto negro */
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  